body {
    display: flex;
    flex-direction: column;
}

/* HEADER STYLING */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0px 200px 0px 200px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 32px;

}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}