body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

/* HEADER / NAV-BAR STYLING */
.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    padding: 20px 100px 20px 100px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.header-bar {
    display: flex;
    margin-left: auto;
    gap: 16px;
}

.header-bar a {
    text-decoration: none;
    color: white;
}

/* HERO SECTION STYLING */
.hero {
    display: flex;
    padding: 80px 100px 80px 100px;
    background-color: #1F2937;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 450px;
}

.hero-left h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-left p {
    margin: 0px;   
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    margin-right: auto;
    margin-top: 8px;
    padding: 8px 25px 8px 25px;
}

.hero-left a {
    color: beige;   
    text-decoration: none;
    font-weight: 800;
}

.hero-right {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 400px;
    height: 210px;
}

/* CONTENT SECTION STYLING */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px 80px 100px;
}

.content h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 25px;
}

.cards {
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 25px;
}

.card .card-content {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.card p {
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    width: 150px;
}

/* TESTIMONIAL SECTION STYLING */
.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 0px 120px 80px 120px;
}

.testimonial p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 100px 0px 0px 0px;
}

.testimonial h2 {
    margin: 0px;
    padding-right: 20px;
    margin-left: auto;
}


/* CALL-TO-ACTION STYLING */
.call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-box {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    border-radius: 5px;
    margin: 80px 120px 80px 120px;
    padding: 30px 80px 30px 80px;
    gap: 80px;
}

.action-text {
    color: #E5E7EB;
}

.action-text p, 
.action-text h3 {
    margin: 0px;
}

.action-text h3 {
    font-weight: bolder;
}

.call a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: bolder;
    margin: 0px;
}

.call button {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    margin-right: auto;
    margin-top: 8px;
    padding: 0px 50px 0px 50px;
}

/* FOOTER SECTION STYLING */
.footer {
    text-align: center;
    background-color: #1F2937;
    color: white;
    font-size: 16px;
    padding: 20px;
}